.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Metrics {
  padding-top: 8px;
  width: 100%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Metric {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.Metric > p {
  padding: 8px;
}

.FormContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  column-gap: .5em;
}

.Header {
  padding-right: 8px;
  width: 100%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PatientTable {
  background-color: white;
  height: 75vh;
}
